body {
    text-align: center;
}

header {
    font-size: 100px;
}

#libraryTable {
    align-self: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

th{
    width: 10%;
}
.longerCol {
    width: 20%
}
thead{
    height: 40px;
}
.customRow {
    height: 30px;
}
.card {
    align-items: center;

}

#inputs {
    display: flex;
    flex-direction: column;
    gap : 1rem;
    align-items: center;
}

.formRow {
    display: flex;
    align-items: center;
    gap: 3px;
}

.rowButton{
    border-radius: 5px;
}