body {
    text-align: center;
}

header {
    font-size: 100px;
}

#libraryTable {
    align-self: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

th{
    width: 30%;
}